sqlalchemy 
pydantic
scikit-learn 
pandas 
# ---------- Core Backend ----------
fastapi
uvicorn
# ---------- Database (PostgreSQL + ORM) ----------
SQLAlchemy
psycopg2-binary
python-multipart
#alembic==1.13.2  # optional: for DB migrations
# ---------- Machine Learning & Image Processing ----------
tensorflow
numpy
pandas
scikit-learn
opencv-python 
opencv-contrib-python 
# # ---------- Optional Tools ----------
matplotlib
seaborn

